/* Aula inicial :D */
/* reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height: 100vh;
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px ) {
  body {
    font-size: 14px;
  }  
}

/* Se a tela tiver pelo menos 500px vai carregar estes estilos */
@media (min-width: 500px ) {
  body {
    font-size: 16px;
  }  
}

/* Se a tela tiver pelo menos 800px vai carregar estes estilos */
@media (min-width: 800px ) {
  body {
    font-size: 18px;
  }  
}

/* Se a tela tiver pelo menos 1600px vai carregar estes estilos */
@media (min-width: 1600px ) {
  body {
    font-size: 24px;
  }  
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 10px 30px; 
  color: linear-gradient(60deg, #29323c 0%, #485563 100%);
  text-decoration: none;
  transition: color 1s; 
}

.menu a:hover {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: whitesmoke;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.site-subtitle,
.site-title {
  text-align: center;
  color: whitesmoke;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Acme', sans-serif;
  font-size: 3em;
}

.contato-subtitle,
.portfolio-subtitle {
  display: block;
  padding: 2em;
  text-align: center;
}

.site-title {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
}

figcaption {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 1.5em;
}

.portfolio {
  padding: 1em;
  background-color: whitesmoke;
  min-height: 100vh;
}

.contato,
.portfolio h2 {
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
}

.portfolio .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px ;
    justify-content: center;  
    width: 100%;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-items: center;
    justify-content: center;  
    height: calc(90vh - 6em - 36px - 1.5em);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 140px;
  width: 210px;
  object-fit: content;
  transform: scale(1);
  transition: transform 2000ms;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(10deg);
}

.contato {
  
  background-color: whitesmoke;
  min-height: 30vh;
}

.contato h2 {
  font-family: 'Acme', sans-serif;
  font-size: 1em;
  margin-bottom: 1em;
  color: whitesmoke;
}

.contato {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.contato a {
  color: whitesmoke;
  font-size: 1.5em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}

.contato .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) {
  .contato .grid {
    grid-template-columns: 240px 240px ;
    justify-content: center;  
    width: 100%;
  }
}

@media (min-width: 880px) {
  .contato .grid {
    grid-template-columns: repeat(2, 260px);
    align-items: center;
    justify-content: center;  
    
    height: calc(90vh - 6em - 36px - 1.5em);
  }
}

footer p {
  text-align: center;
  font-size: 1em;
  color: linear-gradient(60deg, #29323c 0%, #485563 100%);
  margin: 20 auto;
  background-color: whitesmoke;
}