/* Aula inicial :D */
/* reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  height: 100vh;
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px ) {
  body {
    font-size: 14px;
  }  
}

/* Se a tela tiver pelo menos 500px vai carregar estes estilos */
@media (min-width: 500px ) {
  body {
    font-size: 16px;
  }  
}

/* Se a tela tiver pelo menos 800px vai carregar estes estilos */
@media (min-width: 800px ) {
  body {
    font-size: 18px;
  }  
}

/* Se a tela tiver pelo menos 1600px vai carregar estes estilos */
@media (min-width: 1600px ) {
  body {
    font-size: 24px;
  }  
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.menu {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 10px 30px; 
  color: #070C4A;
  text-decoration: none;
  transition: color 1s; 
}

.menu a:hover,
.menu i:hover  {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: whitesmoke;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu i {
  font-size: 1.4em;
  color: #070C4A;
}

.site-subtitle,
.site-title {
  text-align: center;
  color: whitesmoke;
}

.site-subtitle {
  font-style: italic;
  font-family: 'Acme', sans-serif;
  font-size: 3em;
}
.sobre-subtitle,
.contato-subtitle,
.portfolio-subtitle {
  display: block;
  padding: 2em;
  text-align: center;
}

.site-title {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
}

figcaption {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 1.5em;
  color: whitesmoke;
}
.sobre {
  padding: 1em;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  min-height: 100vh;
}

.portfolio {
  padding: 1em;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  min-height: 100vh;
  color: whitesmoke;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.portfolio h2 {
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
}

.sobre p {
  color: #070C4A;
  margin-bottom: 2em;
  text-indent: 2em;
  text-align: justify;
}

.sobre a {
  color:grey;
}

.sobre a:hover {
  color:crimson;
  text-decoration: none;
}

.sobre .avatar {
  float: left;
  margin-right: 2em;
}

.sobre .avatar img {
  border-radius: 50%;
  width: 180px;
}

.portfolio .grid {
  display: grid;
  gap: 1em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px ;
    justify-content: center;  
    width: 100%;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-items: center;
    justify-content: center;  
    height: calc(90vh - 6em - 36px - 1.5em);
  }
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 140px;
  width: 210px;
  object-fit: content;
 /* transform: scale(1);
  transition: transform 2000ms;*/
}

/*.img-portfolio:hover {
  transform: scale(1.2) rotate(10deg);
}
*/
.contato {
  font-family: 'Acme', sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  min-height: 30vh;
  color: #070C4A;
}

.contato h2 {
  font-family: 'Acme', sans-serif;
  font-size: 1em;
  color: #070C4A;
}


.contato a {
  color: rgb(26, 28, 65);
  font-size: 1.5em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 20px rgba(47, 73, 158, 0.5);
}

.contato .grid {
  display: grid;
  gap: 4em;
  justify-content: center;
}

@media (min-width: 560px) {
  .contato .grid {
    grid-template-columns: 24px 24px ;
    justify-content: center;  
    width: 100%;
  }
}

@media (min-width: 880px) {
  .contato .grid {
    grid-template-columns: repeat(2, 24px);
    align-items: center;
    justify-content: center;  
    height: calc(90vh - 6em - 36px - 1.5em);
  }
}

footer {
  min-height: 5vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

footer p {
  text-align: center;
  align-items: center;
  font-size: 0.8em;
  /*margin: 20 auto;*/
  color: whitesmoke;
}